//@import '@core/scss/base/pages/app-user.scss';


.app-user-view .user-info-wrapper .user-info-title {
    width: 11.785rem;
}


.app-user-view .user-total-numbers .color-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.714rem;
    width: 2.714rem;
    border-radius: 0.357rem;
}