<div class="d-flex justify-content-center">

  <div class="card">
    <div class="card-body">

      <div class="d-flex justify-content-center">
        <img src="assets/images/logo/logo.svg" height="60px" />
      </div>
      <h4 class="card-title mb-1">
        Inscrivez-vous
      </h4>
      <p class="text-muted mb-2">
        Veuillez remplir les champs manquants du formulaire pour pouvoir se connecter.
      </p>

      <form>
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="form-group">
              <label class="form-label" for="login-email">Nom</label>
              <input type="text" class="form-control" placeholder="Nom" aria-describedby="Nom"/>
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="form-group">
              <label class="form-label" for="login-email">Prénom</label>
              <input type="text" class="form-control" placeholder="Prénom" aria-describedby="prenom"/>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <label class="form-label" for="login-email">Email</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">@</span>
                </div>
              <input type="text" class="form-control" disabled placeholder="Email" aria-describedby="email"/>
              </div>
            </div>
          </div>


          <div class="col-md-6 col-12">
            <div class="form-group">
              <label class="form-label" for="deteNaiss">Date de naissance</label>
              <input type="text" class="form-control" placeholder="Date de naissance" aria-describedby="deteNaiss"/>
            </div>
          </div>



          <div class="col-md-6 col-12">
            <div class="form-group">
              <label class="form-label" for="telephone">Télephone</label>
              <input type="number" class="form-control" placeholder="Prénom" aria-describedby="telephone"/>
            </div>
          </div>




          <div class="col-md-6 col-12">
            <div class="form-group">
              <label class="form-label" for="pwd">Mot de passe</label>
              <input type="text" class="form-control" placeholder="Mot de passe" aria-describedby="pwd"/>
            </div>
          </div>



          <div class="col-md-6 col-12">
            <div class="form-group">
              <label class="form-label" for="cpwd">Confirmer votre mot de passe</label>
              <input type="number" class="form-control" placeholder="Confirmer votre mot de passe" aria-describedby="cpwd"/>
            </div>
          </div>






        </div>
      </form>
    </div>
  </div>

</div>