<!-- Footer -->
<p class="clearfix mb-0">
  <span class="float-md-left d-block d-md-inline-block mt-25">
    COPYRIGHT &copy; 2022
    <a class="ml-25" href="https://1.envato.market/pixinvent_portfolio" target="_blank">Classtrack</a>
    <span class="d-none d-sm-inline-block">, All rights are reserved</span>
  </span>
  <span class="float-md-right d-none d-md-block">
    Mpdam 2022
  </span>
</p>
<!--/ Footer -->

<!-- Move to top Button-->
<app-scroll-top *ngIf="coreConfig.layout.scrollTop"></app-scroll-top>

