
<div class="card">
    <div class="card-body">
        <form>
            <ul class="timeline">
                <li class="timeline-item" *ngFor="let quest of test.questions; let i = index">
                    <span class="timeline-point timeline-point-indicator"></span>
                    <div class="timeline-event">
                        <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0" style="margin-bottom: 20px !important;">
                            <h6>{{quest.questText}}</h6>
                            <span class="timeline-event-time">{{quest.marks + ' points'}}</span>
                        </div>
                        <div *ngFor="let answer of quest.answers; let j = index" class="custom-control custom-checkbox">
                            <input type="checkbox" [(ngModel)]="answer.selected" [id]="'customRadio' + i + '' + j"
                                [name]="'customRio' + i + '' + j" class="custom-control-input"
                                [checked]="answer.selected" />
                            <label class="custom-control-label"
                                [for]="'customRadio' + i + '' + j">{{answer.answerText}}</label>
                        </div>

                    </div>
                    <hr>
                </li>
            </ul>

            <div class="row d-flex justify-content-end">
                <button (click)="submit()" class="btn btn-primary">
                    Soumettre
                </button>
            </div>
        </form>
    </div>
</div>